<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117161728-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117161728-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title %></title>

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="Elsa Gounot | Développeuse web" >
  <meta property="og:type" content="website" >
  <meta property="og:url" content="www.elsagounot.com" >
  <meta property="og:image" content="../images/cover.png" >
  <meta property="og:description" content="Développeuse web disponible pour missions freelance." >
  <meta property="og:site_name" content="Elsa Gounot | Développeuse web" >

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
<!--   <meta name="twitter:site" content="<%#= DEFAULT_META["twitter_account"] %>"> -->
  <meta name="twitter:title" content="Elsa Gounot | Développeuse web">
  <meta name="twitter:description" content="Développeuse web disponible pour missions freelance.">
<!--   <meta name="twitter:creator" content="<%#= DEFAULT_META["twitter_account"] %>"> -->
  <meta name="twitter:image:src" content="../images/cover.png">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= partial "layouts/sidebar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>
  </body>
</html>
